

/*Header Area*/

header {
	grid-area: h;
	font-family: Arial,'Helvetia Neue', Helvetica;
}

nav {
	grid-area: n;
	text-align: center;
}

nav ul {
	margin-top:0;
	padding:0;
	list-style: none;
	display: inline-flex;
	font-family: Arial,'Helvetia Neue', Helvetica;
}

nav ul li{
	margin: 0% 0.5em;
}

nav ul li a{
	text-decoration: none;
	font-size: 20px;
}

nav ul li a:hover{
	font-weight: 600;
}

h1 {
	text-align: center;
	font-size: 35px;
}

h2 {
	text-align: center;
}

/*Body Content*/


/*Footer Area*/

footer {
	grid-area: f;
	padding-top: 20px;
}
footer p {
	font-family: Arial,'Helvetia Neue', Helvetica;
	text-align: center;
}
